body{
    background-color: chocolate;
    margin: 0;
    padding: 0;
}
header{
    background-color: aqua;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{ 
   margin: 0 auto;
   padding: 5px;
   text-align: center;
   width: 50%;
}
nav{

    border-radius: 20px;
    width: 50%;

}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
li{
    margin: 0;
    color: azure;
    width: 25%;
}
a{
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
    display: block;
}
a:hover{
    color: darkgreen;
    background: lime;
}